* {
  font-family: 'Roboto', sans-serif;
}

html {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.3)
  ),url(../images/unsplash_img_cd.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  
  font-size: 24px;
}

body {
  width: 100%;
  height: 100%;
  padding: 0 3%;
  display: table;
  margin: 0;
  max-width: 100%;
  
  
}

.title {
  text-shadow: 2px 2px black;
}

.about {
  border: solid white 5px;
  border-radius: 20px 20px;
}



.search-func, .label {
  font-size: 24px;
  width: auto;
  height: auto;
 
}

form {
padding: 10px;
margin: 20px 20px;
text-shadow: 2px 2px black;

}

.input {
  width: auto;
  height: auto;
}




.catInfo {
    display: inline-block;
    margin: 5px;
    border: solid;
    border-color:blanchedalmond;
}


span p {
    text-align:center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* footer {
  background-color: whitesmoke;
  font-size: 14px;
} */